[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
albumentations = "*"
efficientnet-pytorch = "*"
future = "*"
matplotlib = "3.3.3"
numpy = "*"
opencv-python = "*"
pandas = "*"
plotly = "*"
scikit-learn = "*"
scipy = "*"
tensorboard = "*"
torch = "*"
torchvision = "*"
tqdm = "*"
wfdb = "*"
Pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
